AddDefaultCharset utf-8
Options -Indexes
ServerSignature Off

AddType application/json .json
AddType text/cache-manifest .manifest

<FilesMatch "\.(py|sh)">
Order Deny,Allow
Deny from all
</FilesMatch>
