AddDefaultCharset utf-8
Options -Indexes
ServerSignature Off

AddType application/json .json
AddType text/cache-manifest .manifest

<FilesMatch "\.(py|sh)">
Order Deny,Allow
Deny from all
</FilesMatch>

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} !^fictiongen\.inky\.me$ [NC]
RewriteRule ^(.*)$ http://fictiongen.inky.me/$1 [R=301,QSA,L]
</IfModule>
